<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us</title>
</head>
<body>
<nav class="w3-bar w3-black" style="justify-content:space-between;display:flex">
    <p>EarnExtraDollar</p>
    <div>
        <a href="#home" class="w3-button w3-bar-item">Login</a>
        <a href="#band" class="w3-button w3-bar-item">Register</a>
        <a href="#tour" class="w3-button w3-bar-item">Tasks</a>
        <a href="#contact" class="w3-button w3-bar-item">Contact</a>
    </div>
</nav>
<div style="margin-right:20%;padding-left:20%;">
    <h1 style="text-align:center">Contact Us</h1>
    <p>We value your feedback</p>
    <div style="background:#E2E2E2;padding:20px">
        <form action="" method="POST">
            <label for="username">Email Address:</label><br>
            <input type="text" name="username" id="username" placeholder="Enter Email Address"><br>
            <label for="message">Message:</label><br>
            <textarea placeholder="Enter your message" id="message">
            </textarea><br>
            <button type="submit">
                SEND
            </button>
        </form>
    </div>

</div>


</body>
</html>