<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap">
    <link rel="stylesheet" href="../static/css/main.css">

</head>
<body>
<nav class="w3-bar w3-black" style="justify-content:space-between;display:flex">
    <a href="{% url 'home' %}" style="text-decoration:none"><p id="title">EarnExtraDollar</p></a>
    <div style="padding:10px" class="nav-links">
        {% if request.user.is_authenticated %}
        <a href="{%  url 'account' %}" class="w3-button w3-bar-item">My Account</a>
        {% else %}
        <a href="{%  url 'login' %}" class="w3-button w3-bar-item">Login</a>
        <a href="{%  url 'register' %}" class="w3-button w3-bar-item">Register</a>
        {% endif %}
        <a href="{%  url 'availableTasks' %}" class="w3-button w3-bar-item">Tasks</a>
        <a href="{%  url 'contact' %}" class="w3-button w3-bar-item" style="color:#33E24F;">Contact</a>
        {% if request.user.is_authenticated %}
        <a href="{%  url 'logout' %}" class="w3-button w3-bar-item">Log Out</a>
        {% endif %}

    </div>
</nav>
<div style="margin-right:20%;padding-left:20%;">
    <h1 style="text-align:center">Contact Us</h1>
    <p>We value your feedback</p>
    <div class="form-box">
        <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li style="color:green;width:400px">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <label for="email">Email Address:</label><br>
            <input type="email" name="email" id="email" placeholder="Enter Email Address" required><br>
            <label for="message">Message:</label><br>
            <textarea id="message" name="message" placeholder="Type your message ..." rows="4" cols="50"
                      required></textarea><br>
            <div style="align-items:center;display:flex;justify-content:center;width:100%;margin-top:30px">
                <button type="submit">
                    SEND
                </button>
            </div>
        </form>
    </div>

</div>


</body>
</html>