<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Earn extra income by completing simple tasks</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<nav class="w3-bar w3-black" style="justify-content:space-between;display:flex;width:100%;margin:0">
    <p id="title">EarnExtraDollar</p>
    <div style="padding:10px" class="nav-links">

        <a href="#home" class="w3-button w3-bar-item">Login</a>
        <a href="#band" class="w3-button w3-bar-item">Register</a>
        <a href="#tour" class="w3-button w3-bar-item">Tasks</a>
        <a href="#contact" class="w3-button w3-bar-item">Contact</a>
    </div>

</nav>
<div style="margin-right:20%;padding-left:20%;">
    <h1 style="text-align:center">
        MAKE EXTRA INCOME BY<br>
        DOING SIMPLE TASKS
    </h1>
    <p style="padding-top:50px;">
        Welcome to EarnExtraDollar, where we believe in turning your time and skills into tangible rewards. Our
        innovative platform empowers users to earn money by completing a diverse range of tasks from the comfort of
        their own homes. Whether you're a student looking for a flexible way to earn extra income or a professional
        seeking additional opportunities, EarnExtraDollar is designed to cater to your needs.
    </p>
    <h3>
        How It Works
    </h3>
    <ol>
        <li>
            <dl>
                <dt><h4>Sign Up</h4></dt>
                <dd>Getting started is easy! Simply sign up for an account and create your profile. Tell us a bit about
                    yourself, your interests, and your skills to help us match you with tasks that align with your
                    abilities.
                </dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt><h4>Explore Tasks</h4></dt>
                <dd>Once you've set up your profile, browse through our task marketplace. We offer a variety of tasks
                    ranging from simple data entry ,account creation to more specialized skills like graphic design or
                    programming. Find
                    the tasks that resonate with you and fit your schedule
                </dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt><h4>Earn Rewards</h4></dt>
                <dd>As you complete tasks, you earn cash rewards which can be withdrawn through PayPal. The more tasks
                    you complete, the more you can earn!
                </dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt><h4>Payment via PayPal</h4></dt>
                <dd>We value your time and effort, which is why we've chosen PayPal as our trusted payment partner. Once
                    you've reached the minimum withdrawal amount, simply request a payout, and your earnings will be
                    transferred directly to your PayPal account securely and promptly.
                </dd>
            </dl>
        </li>
    </ol>
    <h3>
        Why choose us?
    </h3>
    <ul>
        <li><span style="font-weight:bold">Flexibility:</span> Work on tasks at your own pace and from anywhere.</li>
        <li><span style="font-weight:bold">Variety of Tasks:</span> Choose from a diverse range of tasks that match your
            skills and interests.
        </li>
        <li><span style="font-weight:bold">Secure Payments:</span> PayPal ensures your earnings
            are transferred securely.
        </li>

    </ul>

    <p>
        Join today and embark on a journey where your skills are recognized and rewarded. Start earning on your terms,
        and let us be the platform that transforms your time and talents into valuable opportunities.</p>

</div>

</body>
</html>