<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login to your account</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<nav class="w3-bar w3-black" style="justify-content:space-between;display:flex">
    <p id="title">EarnExtraDollar</p>
    <div style="padding:10px" class="nav-links">
        <a href="#home" class="w3-button w3-bar-item" style="color:#33E24F;">Login</a>
        <a href="#band" class="w3-button w3-bar-item">Register</a>
        <a href="#tour" class="w3-button w3-bar-item">Tasks</a>
        <a href="#contact" class="w3-button w3-bar-item">Contact</a>
    </div>

</nav>

<div style="margin-right:20%;padding-left:20%;">
    <h1 style="text-align:center">Log In</h1>
    <div class="form-box">
        <form action="" method="POST" style="margin-top:30px">
            <label for="username">Username</label><br>
            <input type="text" name="username" id="username" placeholder="Enter Username"><br>
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password" placeholder="Enter Password"><br>
            <div style="align-items:center;display:flex;justify-content:center;width:100%;margin-top:30px">
                <button type="submit" style="width:200px">
                    LOG IN
                </button>
            </div>
        </form>
    </div>

</div>

</body>
</html>