<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Super Admin</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-..........." crossorigin="anonymous"/>
</head>
<body>
<nav class="" style="justify-content:space-between;display:flex">
    <a href="{% url 'home' %}" style="text-decoration:none"><p id="title">EarnExtraDollar</p></a>
    <div style="padding:10px" class="nav-links">
        <h4 style="color:#33E24F;padding-right:20px">SITE SUPER ADMIN</h4>

    </div>

</nav>
<div style="margin-right:5%;padding-left:5%;margin-bottom:40px">
    <div style="margin-right:20px;padding-left:20px">
        <h3>Client withdrawal requests</h3>
        <table style="width:100%" class="w3-table w3-striped">
            <tr style="margin-bottom:15px">
                <th>
                    ID
                </th>
                <th>
                    Username
                </th>
                <th>
                    Email Address
                </th>
                <th>
                    PayPal Email
                </th>
                <th>
                    Transaction Code
                </th>
                <th>
                    Amount ($)
                </th>
                <th>
                    Paid
                </th>
            </tr>
            {% for w in w_reqs %}
            <tr>
                <td>
                    {{w.id}}
                </td>
                <td>
                    {{w.user.username}}
                </td>
                <td>
                    {{w.user.email}}
                </td>
                <td>
                    {{w.user.paypalEmail}}
                </td>
                <td>
                    PayPal Transaction Code
                </td>
                <td>
                    {{w.amount}}
                </td>
                <td>
                    <button class="w_id" id="{{w.id}}" style="padding-top:5px;padding-bottom:5px">
                        Approve
                    </button>
                </td>
            </tr>
            {% endfor %}


        </table>
        <form method="POST" action="" style="margin-top:30px">
            {% csrf_token %}
            <label for="ids_appr">Ids to Approve</label><br>
            <input type="text" value="" name="approve_ids" id="ids_appr" readonly><br>
            <button type="submit" style="margin-top:20px">
                APPROVE
            </button>
        </form>
        <hr style="margin-top:40px">
        <h3>Account Confirmation</h3>
        <table class="w3-table w3-striped">
            <tr style="margin-bottom:15px">
                <th>
                    tasker
                </th>
                <th>
                    Task
                </th>
                <th>
                    Account Username
                </th>
                <th>
                    Account Password
                </th>
                <th>
                    confirm
                </th>
            </tr>
            {% for c in conf %}
            <tr>
                <td>
                    {{c.id}}
                </td>
                <td>
                    {{c.task.task_name}}
                </td>
                <td>
                    {{c.username}}
                </td>
                <td>
                    {{c.password}}
                </td>

                <td>
                    <button class="c_id" id="{{c.id}}" style="padding-top:5px;padding-bottom:5px">
                        Confirm
                    </button>
                </td>
            </tr>
            {% endfor %}


        </table>
        <form method="POST" action="" style="margin-top:30px">
            {% csrf_token %}
            <label for="ids_appr">Accounts to confirm</label><br>
            <input type="text" value="" name="confirm_accts"id="acc_conf" readonly><br>
            <button type="submit" style="margin-top:20px">
                CONFIRM THE ACCOUNTS ABOVE
            </button>
        </form>


    </div>

</div>
<script>
    $(document).ready(function(){
        var w_req=[];
        $('.w_id').click(function(){
            var id_ =$(this).attr('id');
            var text_ =$(this).text();

            if(text_ == 'Approved'){
                //deselect
                $(this).css('background','#00E2B9');
                $(this).text('Approve');
                w_req=w_req.filter(item => item !== id_);
                $('#ids_appr').val(w_req);

            }
            else{
                $(this).css('background','#33E24F');
                $(this).text('Approved');
                w_req.push(id_);
                $('#ids_appr').val(w_req);

            }
        });
        var ac_conf=[];
        $('.c_id').click(function(){
            var id_ =$(this).attr('id');
            var text_ =$(this).text();
            if(text_ == 'Confirmed'){
                //deselect
                $(this).css('background','#00E2B9');
                $(this).text('Confirm');
                ac_conf=ac_conf.filter(item => item !== id_);
                $('#acc_conf').val(ac_conf);

            }
            else{
                $(this).css('background','#33E24F');
                $(this).text('Confirmed');
                ac_conf.push(id_);
                $('#acc_conf').val(ac_conf);

            }
        });



    });

</script>

</body>
</html>