<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Available Tasks</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap">
    <link rel="stylesheet" href="../css/main.css">

</head>
<body>
<nav class="w3-bar w3-black" style="justify-content:space-between;display:flex">
    <p id="title">EarnExtraDollar</p>
    <div style="padding:10px" class="nav-links">
        <a href="#home" class="w3-button w3-bar-item">Login</a>
        <a href="#band" class="w3-button w3-bar-item">Register</a>
        <a href="#tour" class="w3-button w3-bar-item">Tasks</a>
        <a href="#contact" class="w3-button w3-bar-item">Contact</a>
    </div>
</nav>
<div style="margin-right:20%;padding-left:20%;">
    <h1 style="text-align:center">6 Available Tasks</h1>
    <ol>
        <li>
            <div style="display:flex;justify-content:space-between;margin-top:20px">
                <p>
                    CREATE REMOTASK ACCOUNTS (INDIA)
                </p>
                <button>
                    LEARN MORE
                </button>

            </div>
        </li>
        <li>
            <div style="display:flex;justify-content:space-between;margin-top:20px">
                <p>
                    CREATE REMOTASK ACCOUNTS (INDIA)
                </p>
                <button>
                    LEARN MORE
                </button>

            </div>
        </li>

        <li>
            <div style="display:flex;justify-content:space-between;margin-top:20px">
                <p>
                    CREATE REMOTASK ACCOUNTS (INDIA)
                </p>
                <button>
                    LEARN MORE
                </button>

            </div>
        </li>

        <li>
            <div style="display:flex;justify-content:space-between;margin-top:20px">
                <p>
                    CREATE REMOTASK ACCOUNTS (INDIA)
                </p>
                <button>
                    LEARN MORE
                </button>

            </div>
        </li>
        <li>
            <div style="display:flex;justify-content:space-between;margin-top:20px">
                <p>
                    CREATE REMOTASK ACCOUNTS (INDIA)
                </p>
                <button>
                    LEARN MORE
                </button>

            </div>
        </li>
        <li>
            <div style="display:flex;justify-content:space-between;margin-top:20px">
                <p>
                    CREATE REMOTASK ACCOUNTS (INDIA)
                </p>
                <button>
                    LEARN MORE
                </button>

            </div>
        </li>

    </ol>
    <h5 style="text-align:center">NO MORE TASKS</h5>

</div>

</body>
</html>