<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Description</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap">
    <link rel="stylesheet" href="../static/css/main.css">

</head>
<body>
<nav class="w3-bar w3-black" style="justify-content:space-between;display:flex">
    <a href="{% url 'home' %}" style="text-decoration:none"><p id="title">EarnExtraDollar</p></a>
    <div style="padding:10px" class="nav-links">
        {% if request.user.is_authenticated %}
        <a href="{%  url 'account' %}" class="w3-button w3-bar-item">My Account</a>
        {% else %}
        <a href="{%  url 'login' %}" class="w3-button w3-bar-item">Login</a>
        <a href="{%  url 'register' %}" class="w3-button w3-bar-item">Register</a>
        {% endif %}
        <a href="{%  url 'availableTasks' %}" class="w3-button w3-bar-item" style="color:#33E24F;">Tasks</a>
        <a href="{%  url 'contact' %}" class="w3-button w3-bar-item">Contact</a>
        {% if request.user.is_authenticated %}
        <a href="{%  url 'logout' %}" class="w3-button w3-bar-item">Log Out</a>
        {% endif %}
    </div>

</nav>
<div style="margin-right:20%;padding-left:20%;margin-bottom:40px">
    <h1 style="text-align:center;color:#33E24F">{{task.task.task_name}}</h1>
    <h3>Job Description</h3>
    <p>{{task.task_description|safe}}</p>
    <h3>Requirements</h3>
    {{task.requirements|safe}}
    <h3>{{task.how_to_title}}</h3>
    {{task.how_to_info|safe}}
    <h3>Pay</h3>
    {{task.pay|safe}}
    <h3>How to submit task</h3>

    <p>Upon completion of the task above, follow the steps below to submit and earn.</p>
    <p>Please note that if you do not carefully follow the steps below, you may not receive any payment.</p>
    <p>
        Login to your EarnExtraDollar account and click <a href="{% url  'submitTaskRemo'  %}"
                                                           style="text-decoration:none;color:blue">HERE</a>
        to submit the task.
    </p>

    {{task.how_to_submit|safe}}
    <p>The balance will reflect immediately in your <strong><i>Pending Balance</i></strong> and will
        be available in your actual balance for withdrawal once we have confirmed the details you have provided.</p>
    <p>If you have any problem or queries, do not hesitate to contact us through our <a href="{% url 'contact' %}">contact
        form</a></p>

</div>

</body>
</html>