<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Available Tasks</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
{% if request.user_agent.is_pc %}
<nav class="" style="justify-content:space-between;display:flex">
    <a href="{% url 'home' %}" style="text-decoration:none"><p id="title">EarnExtraDollar</p></a>
    <div style="padding:10px" class="nav-links">
        {% if request.user.is_authenticated %}
        <a href="{%  url 'account' %}" class="">My Account</a>
        {% else %}
        <a href="{%  url 'login' %}" class="">Login</a>
        <a href="{%  url 'register' %}" class="">Register</a>
        {% endif %}
        <a href="{%  url 'availableTasks' %}" class="" style="color:#33E24F;">Tasks</a>
        <a href="{%  url 'contact' %}" class="">Contact</a>
        {% if request.user.is_authenticated %}
        <a href="{%  url 'logout' %}" class="">Log Out</a>
        {% endif %}
    </div>
</nav>
<div style="margin-right:20%;padding-left:20%;margin-bottom:40px">
{% else %}
<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-border-right w3-black" style="display:none;z-index:100000" id="mySidebar">
      <a href="{% url 'home' %}" style="text-decoration:none;margin-top:30px;margin-bottom:50px;font-size:20px"><p id="title">EarnExtraDollar</p></a>
  <button onclick="w3_close()" class="w3-bar-item w3-large" style="margin-top:30px;margin-bottom:30px;width:130px;background:red;">Close &times;</button>
  <nav style="margin-left:20px">
        {% if request.user.is_authenticated %}
        <a href="{%  url 'account' %}"   style="text-decoration:none;">My Account</a><br><br>
        {% else %}
        <a href="{%  url 'login' %}"  style="text-decoration:none;" >Login</a><br><br>
        <a href="{%  url 'register' %}"  style="text-decoration:none;">Register</a><br><br>
        {% endif %}
        <a href="{%  url 'availableTasks' %}"  style="text-decoration:none;color:#33E24F;" >Tasks</a><br><br>
        <a href="{%  url 'contact' %}"  style="text-decoration:none;" >Contact</a><br><br>
        {% if request.user.is_authenticated %}
        <a href="{%  url 'logout' %}"  style="text-decoration:none;">Log Out</a><br><br>
        {% endif %}
        </nav>
</div>
<nav  style="justify-content:space-between;display:flex;width:100%;margin:0">
    <a href="{% url 'home' %}" style="text-decoration:none"><p id="title">EarnExtraDollar</p></a>
  <button class="w3-button w3-black w3-xlarge w3-text-white" onclick="w3_open()">☰</button>
</nav>

<div style="margin-bottom:40px;margin-left:10px;margin-right:10px">
{% endif %}
<h1 style="text-align:center">{{l_av}} Available Tasks</h1>
    <ol>
        {% for l in av %}
        <li>
            <div style="display:flex;justify-content:space-between;margin-top:20px;width:80%;margin-right:20px">
                <p>
                    {{ l.task_name }}
                </p>
                <a href="{% url 'aboutTask' %}?taskName={{l.task_name}}" style="text-decoration:none">
                    <button>
                        LEARN MORE
                    </button>
                </a>

            </div>
        </li>
        {% endfor %}

    </ol>
    <h5 style="text-align:center">NO MORE TASKS</h5>

</div>
<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}</script>
</body>
</html>