
body {
    font-family: 'Inria Sans', sans-serif;
    color: #333;
    background-image: url('https://img.freepik.com/free-vector/abstract-background-with-squares_23-2148995948.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703721600&semt=ais');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

nav {
    background:black;
    position: sticky;
    top: 0;
    z-index: 1000;
}
#title{
    color:grey;
    font-family: 'Kaushan Script', cursive;
}

.nav-links a{
    padding-right:20px;
    color:white;
    text-decoration:none;
}
.nav-links a:hover{
    color:#33E24F;
}
dl {
    margin-bottom:20px;
}
dt{
    margin-top:10px
    }
.left-content{
    margin-right:150px;
}
dd {
    font-weight:bold;
}
.amount-withdraw input{
    width:250px;
    padding:10px;
    margin-top:10px;
    border:none;
    background:#D7D7D7;
    border-radius:10px;


}
button{
    background:#00E2B9;
    padding:10px;
    color:white;
    border-radius:10px;
    border:none;
    letter-spacing:2px
}
input{
    width:350px;
    padding:10px;
    margin-top:10px;
    border:none;
    background:#D7D7D7;
    border-radius:10px;
    margin-bottom:20px


}
.form-box{
    background:#E2E2E2;
    padding:20px;
    align-items:center;
    display:flex;
    justify-content:center;
    border-radius:10px;
}